<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-z3zx1tyQ6T8R8wb-zMte9DWfKRi5Jf0</string>
	<key>GCM_SENDER_ID</key>
	<string>488113567172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaheer.poultry</string>
	<key>PROJECT_ID</key>
	<string>poultry-multiuser</string>
	<key>STORAGE_BUCKET</key>
	<string>poultry-multiuser.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488113567172:ios:05a87748a60437c8772091</string>
	<key>DATABASE_URL</key>
	<string>https://poultry-multiuser-default-rtdb.firebaseio.com</string>
</dict>
</plist>